<% include partials/header %> <!-- to include partials header -->

<h1>campgrounds.ejs</h1>

<a href="/campgrounds/new">Add new campground</a>

<% campData.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>">
    </div>
<% }) %>



<% include partials/footer %> <!-- to include partials footer -->
