<% include partials/header %> <!-- to include partials header -->


<h1>landing.ejs</h1>
<br>
<a href="/campgrounds">Goto Campgrounds.ejs</a>


<% include partials/footer %> <!-- to include partials footer -->
