<% include ./partials/header %> <!-- to include partials header -->
<!-- ______^partial header^______navbar location____________________________-->


<h1>login.ejs</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>


<!-- _____________________________partial footer___________________________ -->
<% include ./partials/footer %> <!-- to include partials footer -->
